<!-- This is the partial view to show cart items for each grade-->
 <div class="panel panel-default">
  
   <div class="panel-heading">
     <a href="{{storeItem.gradeurl}}">{{storeItem.gradename}}
     </a>
     Subjects: 
     
     <select ng-model="selectedItem" 
            ng-options="item as item.name for item in  storeItem.subjects">
    </select>
     </div>
      <div class="panel-body">
         <p>{{storeItem.gradedescription}}
         </p>
         <div class="table">
             <div class="row">
                <div ng-repeat="subject in storeItem.subjects|filter:selectedItem">
                     <div class="col-sm-2">
                         <div class="panel panel-default">

                           <div class="panel-heading">
                                 <a href="{{subject.url}}">{{subject.name}}</a>
                            </div>
                            <div class="panel-body">
                                 <p>{{subject.description}}.
                                 </p>
                                 <a href="#cartitemdetail/{{storeItem.gradename}}/{{subject.name}}">
                                     <img src="{{subject.img}}"  height="25%">
                                </a>
                           </div>
                          
                     </div>
                 </div>
             </div>
         </div>
   </div>
</div>