<div class="panel panel-default">
  
   <div class="panel-heading">Grade 1</div>
      <div class="panel-body">
         <p>Descpription of Grade 1.
         </p>
         <div class="table">
             <div class="row">
                 
                 <div class="col-lg-4">
                     <div class="panel panel-default">
                       <div class="panel-heading">subject 1</div>
                          <div class="panel-body">
                             <p>Description of subject 1.
                             </p>
                             <img ng-src="http://www.uptoschoolworksheets.com/in/contents/photos/covers/g1VHW.jpg" width="25%">
                       </div>
                       <ul class="list-group">
                          <li class="list-group-item">3 month Rate1</li>
                           <li class="list-group-item">6 month rate</li>
                            <li class="list-group-item">12 month rate</li>
                             <li class="list-group-item">printed rate</li>
                              <li class="list-group-item">Individual worksheets</li>

                       </ul>
                    </div>
                     
                 </div>
                 <div class="col-lg-4">
                     <div class="panel panel-default">
                       <div class="panel-heading">subject 2</div>
                          <div class="panel-body">
                             <p>Description of subject 2.
                             </p>
                             <img ng-src="http://www.uptoschoolworksheets.com/in/contents/photos/covers/g1VHW.jpg" width="25%">
                       </div>
                       <ul class="list-group">
                          <li class="list-group-item">3 month Rate1</li>
                           <li class="list-group-item">6 month rate</li>
                            <li class="list-group-item">12 month rate</li>
                             <li class="list-group-item">printed rate</li>
                              <li class="list-group-item">Individual worksheets</li>

                       </ul>
                    </div>
                 </div>
                 <div class="col-lg-4">
                     <div class="panel panel-default">
                       <div class="panel-heading">subject 3 </div>
                          <div class="panel-body">
                             <p>Description of subject 3.
                             </p>
                             <img ng-src="http://www.uptoschoolworksheets.com/in/contents/photos/covers/g1VHW.jpg" width="25%">
                       </div>
                       <ul class="list-group">
                          <li class="list-group-item">3 month Rate1</li>
                           <li class="list-group-item">6 month rate</li>
                            <li class="list-group-item">12 month rate</li>
                             <li class="list-group-item">printed rate</li>
                              <li class="list-group-item">Individual worksheets</li>

                       </ul>
                    </div>
                 </div>
             </div>
             
         </div>
   </div>
   <ul class="list-group">
      <li class="list-group-item">Subject1</li>
       <li class="list-group-item">Subject2</li>
        <li class="list-group-item">Subject3</li>
         <li class="list-group-item">Subject4</li>
          <li class="list-group-item">Subject5</li>
          
   </ul>
</div>
<div class="panel panel-default">
   <div class="panel-heading">Grade 2</div>
      <div class="panel-body">
         <p>This panel can contain subjects and their rates for different ways of shoping.
         </p>
   </div>
   <ul class="list-group">
      <li class="list-group-item">Subject1</li>
       <li class="list-group-item">Subject2</li>
        <li class="list-group-item">Subject3</li>
         <li class="list-group-item">Subject4</li>
          <li class="list-group-item">Subject5</li>
          
   </ul>
</div>
<div class="panel panel-default">
   <div class="panel-heading">Grade 1</div>
      <div class="panel-body">
         <p>This panel can contain subjects and their rates for different ways of shoping.
         </p>
   </div>
   <ul class="list-group">
      <li class="list-group-item">Subject1</li>
       <li class="list-group-item">Subject2</li>
        <li class="list-group-item">Subject3</li>
         <li class="list-group-item">Subject4</li>
          <li class="list-group-item">Subject5</li>
          
   </ul>
</div>
