<nav class="navbar navbar-inverse " role="navigation"> 
    <div class="container"> 
        <!-- etc… --> <!-- Collect the nav links, forms, and other content for toggling --> 
        <div class="collapse navbar-collapse navbar-ex1-collapse"> 
           <ul class="nav navbar-nav">
               <li><a href="#add">add new customer</a></li>
               <li><a href="#/">show all customers</a></li>
               <li><a href="#help">show help</a></li>
           </ul>
       </div> 
        <!-- /.navbar-collapse --> 
    </div> 
    <!-- /.container --> 
</nav>